<form method='post' action='/bloodpressurereadings'>
<p>Date: <input type="date" name="date"></p>
<p>Time: <input type="text" label="time" name="time"></p>
<p>Systolic Reading: <input type="text" label="systolic_reading" name="systolic_reading"></p>
<p>Diastolic Reading: <input type="text" label="diastolic_reading" name="diastolic_reading"></p>
<p>Pulse: <input type="text" label="pulse" name="pulse"></p> 
<p>Device Used: <input type="text" label="device_used" name="device_used"></p> 
<p>Site Used: <input type="text" label="site_used" name="site_used"></p>
<p>Notes: <textarea label="notes" name="notes"></textarea></p> 
<input type="submit" value="Submit Blood Pressure Reading">
<input type="reset">
</form>
