<h2>Welcome, <%= @current_user.name %>!</h2>
<br>
<h3>Which page would you like to visit?</h3>
<a href="/medications">Manage your Medication Log</a><br>
<a href="/bloodpressurereadings">Manage your Blood Pressure Log</a>
<br><br><br>
<form action="/users/<%= @current_user.username %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Account">
</form>