<form method="post" action="/medications/<%= @user.username %>">
<p><label for="name">Medication Name: </label><input type="text" name="name"></p>
<p><label for="dose">Dose: </label><input type="text" name="dose"> *include amount and measurement type such as mg or ml</p>
<p><label for="form">Form: </label><input type="text" name="form"> *such as liquid or tablets</p>
<p><label for="route">Route: </label><input type="text" name="route"> *such as oral or subcutaneous</p>
<p><label for="time_to_be_taken">Time(s) to be Taken: </label><input type="text" name="time_to_be_taken"></p> 
<p><label for="category">Category: </label><input type="text" name="category"> *such as prescription or over-the-counter</p>
<p><label for="prescription_number">Prescription Number: </label><input type="text" name="prescription_number"></p>
<p><label for="date_filled">Date Filled: </label><input type="date" name="date_filled"></p>
<p><label for="refill_date">Refill Date: </label><input type="date" name="refill_date"></p>
<p><label for="discard_or_expiration_date">Discard or Expiration Date: </label><input type="date" name="discard_or_expiration_date"></p>
<p><label for="side_effects">Side Effects: </label><textarea label="side_effects" name="side_effects"></textarea></p> 
<p><label for="notes">Notes: </label><textarea label="notes" name="notes"></textarea></p> 
<input type="submit" value="Submit New Medication">
<input type="reset">
</form>
