<div class="container">
<br><br>
  <header><center><img src="images/cartoon_medication.jpg" class="img-responsive main-image"></header></center>

    <div class="content">
    <a style="text-decoration: none; color:blue; font-size:18px;" href="/login">Log In</a>    or    <a style="text-decoration: none; color:blue; font-size:18px;" href="/signup">Sign Up</a>
    <br><br><br>
    </div>

</div>
