<div class="container">
<br><br>
  <header><center><img src="images/cartoon_medication.jpg" class="img-responsive main-image"></header></center><br>

    <div class="content">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 150px;
  position: left;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(29, 167, 212);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f2f2f2;
  display: block;
}

.sidenav a:hover {
  color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<body>

<div class="sidenav">
  <a href="/login">Log In</a>
  <br>
  <a href="/signup">Sign Up</a>
  <br>
</div>
</body>
</html> 
    <br><br>
    </div>

</div>
